*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    display: block;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding: 120px 0;
}

.header-container {
    border-bottom: 1px solid #E7E9FC;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px;
    background-color: #fff;
}

.nav-block {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    gap: 40px;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
}

.header-logo>span {
    color: #2E2F42;
}

.menu-link {
    color: #2E2F42;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    padding: 24px 0;
}

.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-decoration: underline;
}

.address-block {
    font-style: normal;
}

.address-list {
    display: flex;
    gap: 40px;
}

.address-link {
    color: #434455;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.address-link:hover,
.address-link:focus {
    color: #404BBF;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.banner {
    background-color: #2e2f42;
    text-align: center;
    padding: 188px 0;

}

.banner-title {
    display: inline-block;
    color: #ffffff;
    font-size: 56px;
    font-style: normal;
    line-height: 1.07;
    letter-spacing: 1.12px;
    width: 496px;
    margin-top: 68px;
}

.banner-button {
    display: block;
    background-color: #4D5AE5;
    color: #ffffff;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    cursor: pointer;
    margin: 48px auto 68px;
    padding: 16px 32px;
    border: 0;
    border-radius: 4px;
}

.banner-button:hover,
.banner-button:focus {
    background-color: #404BBF;
}

.section-title {
    color: #2E2F42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.list-unit {
    background-color: #ffffff;

}

.list-unit-title {
    color: #2e2f42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.list-unit-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.advantages-section {
    background-color: inherit;
}

.advantages-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.advantages-item>p {
    margin-top: 8px;
}

.team-section {
    background-color: #F4F4FD;
    height: 732px;
}

.team-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 72px;
}

.team-card {
    display: block;
    padding-bottom: 32px;
    text-align: center;
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
}

.profile-img {}

.team-card>.list-unit-title {
    margin-top: 32px;
}

.team-card>.list-unit-text {
    margin-top: 8px;
}

.portfolio-section {
    background-color: inherit;
    height: 1240px;
}

.portfolio-list {
    display: flex;
    row-gap: 48px;
    column-gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 72px;
}

.portfolio-item {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    width: 360px;

}

.portfolio-item>img {
    margin-top: -33px;
    margin-left: -17px;
}

.portfolio-item-title {
    color: #2e2f42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-top: 32px;
}

.portfolio-item-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-top: 8px;
}

.footer {
    background-color: #2E2F42;
    height: 312px;
    padding: 100px 0;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-top: 1.5px;
}

.footer-logo>span {
    color: #f4f4fd;
}

.footer-text {
    display: block;
    width: 264px;
    margin-top: 17.5px;
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}